body {
    margin: 0;
    padding: 0;
    font-family: 'TwoThousandTwentyTwo', sans-serif; /* Use the font-family name from @font-face */
    background-image: url('https://i.imgur.com/LUwpjIr.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation: gifLoop 10s infinite;
}

@keyframes gifLoop {
    to {
        background-position: 100% 0;
    }
}

.presentation {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.slide, .subpage {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


}

h1, h2, p {
    color: #dda0dd; /* Warm violet text color */
}

.nav-links {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px; /* Adjusted to prevent overlapping with the refresh message */
    left: 0;
    right: 0;
    z-index: 2; /* Adjusted z-index value */
}

.nav-link {
    color: #dda0dd; /* Warm violet text color */
    text-decoration: none;
    font-size: 1.5em;
    margin: 0 20px;
    transition: color 0.3s;
    position: relative; /* Add position relative */
    z-index: 3; /* Adjusted z-index value */
}

.nav-link:hover {
    color: #ffcc00;
}

.audio-player {
    display: none;
    margin-top: 30px;
}

.audio-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.audio-controls button {
    background-color: #ffcc00;
    color: #333;
    font-size: 1em;
    padding: 8px 15px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.audio-controls button:hover {
    background-color: #ddd;
}

.audio-source {
    color: #dda0dd; /* Warm violet text color */
    margin-top: 10px;
}
